*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.BottomNav{
    height: 80px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.BottomNav a{
    color: black;
    border-radius: 50px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.BottomNav a.active{
    background: red;
    transform: translateY(-30px);
    color: white;
}